.u-center-text {
	text-align: center;
}

.u-mb-8 {
	margin-bottom: 8rem;
}

.u-mb-md {
	margin-bottom: 4rem;
}

.u-mb-sm {
	margin-bottom: 1.5rem;
}

.u-mt-md {
	margin-top: 4rem;
}

.u-mt-sm {
	margin-top: 2rem;
}

.u-mt-8 {
	margin-top: 8rem;
}

.u-mt-10 {
	margin-top: 10rem;
}
